<div class="text-center">
  {{homectrl.welcome_text}}
</div>
<br>

<div layout='row'>
  <div flex="20">
  </div>
  <div flex="60">

    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon><ng-md-icon icon="devices" style="fill: white"></ng-md-icon></md-icon> 
          </md-button>
          <span>Sample Login</span>
          <!-- fill up the space between left and right area -->
          <span flex></span>
        </div>
      </md-toolbar>
      <br>
      <form ng-submit='homectrl.login()'>
        <div layout="column" layout-align="space-around stretch">
          <md-input-container class="md-block">
            <label>Username</label>
            
            <input ng-model="user.email" type="email" placeholder="Username" ng-required="true">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>

            <input ng-model="user.password" type="password" placeholder="Password" ng-required="true">
          </md-input-container>
        </div>
        <div layout="row" layout-align="end center">
          <!-- hidden submit button so form works -->
          <input type="submit" hidden /> 
          <md-button ng-click='homectrl.login()' class='md-primary md-raised'> Submit </md-button>
        </div>
      </form>
      <br>
      <div>
        {{homectrl.alert}}
      </div>
    </md-content>

  </div>

  <div flex='20'></div>
</div>